html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Lucida Console"
}
.li {
  list-style: none;
}
.header {
  background-color: #A0754E;
  color:#FEFDFC;
  height: 100px;
  border: solid;
}
.header-logo {
  float: left;
  font-size: 48px;
  padding: 20px 40px;
  color: #E5D0BB;
  font-family: "Lucida Console", Monaco, monospace;
}
.header-list {
  float:right;
  color: #E5D0BB;
  font-family: "Lucida Console", Monaco, monospace;
  display: inline-block;
}
.header-list li {
  float:right;
  padding: 33px 20px;
  list-style: none;
  font-size: 18px;
}
.header-list li:hover {
  background-color: #815212;


}
.main {
  background-image: url('https://cutewallpaper.org/21/library-background-images/Library-Background-Image-30-Background-Pictures.png');
  padding: 144px 144px;
opacity: 0.8;
  background-size: cover;
 text-align: center;
}
.copy-container h1 {
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 10px;



}



.copy-container p {
  font-size: 18px;
  margin: 5px;
  color: white;
  text-decoration: none;

}
.btn {
  padding-top: 12px;
padding-bottom: 12px;
padding-left: 24px;
padding-right: 24px;
color: white;
display: inline-block;
opacity: 0.8;
border-radius: 4px;
}
.btn:hover {
  opacity: 1;
}
.more {
  background-color: #239b76;

}

.contents {
  height: 500px;
  margin-top: 100px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 36px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  margin-right: 40px;
  margin-left: 80px;
  background-color: #F0E68C;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
  color: black;
}

.contact-form {
  padding-top: 100px;
  margin-top: 500px;
}
.contact-form p {
  color: black;
}

input, textarea {
  width: 400px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;

}

.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}

.footer {
  background-color: #A0754E;
  color:#FEFDFC;
  height: 100px;
  border: solid;
  width: 1060px;

}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list{
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
  list-style: none;
}


