html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Lucida Console"
}
.li {
  list-style: none;
}
.header {
  background-color: #A0754E;
  color:#FEFDFC;
  height: 100px;
  border: solid;
}
.header-logo {
  float: left;
  font-size: 48px;
  padding: 20px 40px;
  color: #E5D0BB;
  font-family: "Lucida Console", Monaco, monospace;
}
.header-list {
  float:right;
  color: #E5D0BB;
  font-family: "Lucida Console", Monaco, monospace;
  display: inline-block;
}
.header-list li {
  float:right;
  padding: 33px 20px;
  list-style: none;
  font-size: 18px;
}
.header-list li:hover {
  background-color: #815212;


}
.main {
  background-image: url('https://www.google.com/search?q=library+background+png&sxsrf=ALeKk03GaqSmyM5oeBK2QaM1AJUlKfXuQg:1604395175791&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiK4KDkhebsAhV47HMBHSQlBlAQ_AUoAXoECAwQAw&biw=1510&bih=738#imgrc=U9YFhRXZRZUHHM');
  padding: 200px 180px;

  background-size: cover;
 text-align: center;
}
.copy-container h1 {
  color: black;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 10px;


}
.copy-container h2 {
  color: black;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 28px;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.copy-container p {
  font-size: 18px;
  margin: 5px;
}
btn {
  padding-top: 12px;
padding-bottom: 12px;
padding-left: 24px;
padding-right: 24px;
color: white;
display: inline-block;
opacity: 0.8;
border-radius: 4px;
}
.btn:hover {
  opacity: 1;
}
.more {
  background-color: #239b76;

}
